/* Logo
   ========================================================================== */
span.logo-mini > img {
	width:100%; max-width:45px; height:auto; border-radius:50%;
}

/* Report Table
   ========================================================================== */
.report-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.report-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.report-table td,
.report-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}

.report-table td:first-child,
.report-table th:first-child {
    border-left-width: 0;
}

.report-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.report-table td {
    background-color: transparent;
}
.report-table-odd td {
    background-color: #f2f2f2;
}

.report-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

.report-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.report-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}